<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="PCShopDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=localhost,1433;Network Library=DBMSSOCN; Initial Catalog=PCShop_Data;User ID=sa;Password=Pa$$w0rd1;" />-->
    <add name="PCShopDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=ROBIN-LAPTOP\ROBINDATABASE; Initial Catalog=PCShop_Database;Integrated Security=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>